---
title: Portfolio
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-8">
      <h1 class="font-weight-bold mb-4 serif-font">Hey! Welcome to my Portfolio.</h1>
      <span class="lead pb-0">I'm a senior engineer with 4+ years of professional experience seeking to transition into a more creative role as a <b>Technical Game Designer</b> and pursue my passion for creating immersive, story-driven games and leverage my technical knowledge, dedication, adaptability and leadership to create great gameplay.</span>
      <span class="lead pb-0"><br><br>Feel free to browse my latest projects below, check out my <a href="{{site.baseurl}}/resume/"><u>CV</u></a>, or shoot me a message on <a href="https://www.linkedin.com/in/anastasiya-lavrenchuk/"><u>LinkedIn</u></a> or via the <a href="{{site.baseurl}}/contact/"><u>Contact</u></a> page.</i></span>
    </div>
    <div class="col-md-4 text-right pl-0 pl-lg-4">
      <img class="rounded-image" height="300" src="{{site.baseurl}}/assets/images/intro.jpeg">      
    </div>
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <h2 class="font-weight-bold mb-4 serif-font">Projects</h1>
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <!-- <div class="col-sm-4">
    {% include sidebar.html %}
  </div> -->
</section>